{% extends 'basic.html' %}
{% load modifier_tags %}

{% block pretitle %}
    <a href="{% url 'cards:hero-component-list' object.get_class_name.lower %}">{{ object.get_class_name }} index</a>
{% endblock pretitle %}

{% block content %}
    {% hero_component_table object %}

    <table class="table table-bordered modifiers-table">
        <thead>
            <tr>
                <th></th>
                {% for target in targets %}
                    <th>{{ target }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for attribute, v in attribute_probabilities.items %}
                <tr>
                    <th class="{% modifier_css_class v.modifier %}">{{ attribute }}</th>
                    {% for target, probability in v.probabilities %}
                        <td>{{ probability|floatformat }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
