{% extends 'basic.html' %}

{% block pretitle %}
    <a href="{% url 'cards:index' %}">Cards index</a>
{% endblock pretitle %}

{% block content %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                {% for attribute in attributes %}
                    <th>{{ attribute }}</th>
                {% endfor %}
                <th>Special rules</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <th><a href="{{ object.get_absolute_url }}">{{ object }}</a></th>
                    {% for k, v in object.attributes.items %}
                        <td>{% if v %}{{ v.operator }}{{ v.magnitude|floatformat }}{% endif %}</td>
                    {% endfor %}
                    <td>{{ object.special_rules }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
