.modifiers-table thead th,
.modifiers-table td {
  text-align: center; }

.modifier {
  font-weight: bold; }

.modifier-plus-10 {
  background-color: #dbffdb; }

.modifier-plus-20 {
  background-color: #b8ffb8; }

.modifier-plus-30 {
  background-color: #94ff94; }

.modifier-plus-40 {
  background-color: #70ff70; }

.modifier-plus-50 {
  background-color: #4dff4d; }

.modifier-plus-60 {
  background-color: #29ff29; }

.modifier-plus-70 {
  background-color: #05ff05; }

.modifier-plus-80 {
  background-color: #00e000; }

.modifier-plus-90 {
  background-color: #00bd00; }

.modifier-plus-100 {
  background-color: #009900; }

.modifier-minus-10 {
  background-color: #ffdfdf; }

.modifier-minus-20 {
  background-color: #ffbebe; }

.modifier-minus-30 {
  background-color: #ff9e9e; }

.modifier-minus-40 {
  background-color: #ff7e7e; }

.modifier-minus-50 {
  background-color: #ff5d5d; }

.modifier-minus-60 {
  background-color: #ff3d3d; }

.modifier-minus-70 {
  background-color: #ff1d1d; }

.modifier-minus-80 {
  background-color: #fc0000; }

.modifier-minus-90 {
  background-color: #db0000; }

.modifier-minus-100 {
  background-color: #bb0000; }

.modifier-times-10 {
  background-color: #dbdbff; }

.modifier-times-20 {
  background-color: #b8b8ff; }

.modifier-times-30 {
  background-color: #9494ff; }

.modifier-times-40 {
  background-color: #7070ff; }

.modifier-times-50 {
  background-color: #4d4dff; }

.modifier-times-60 {
  background-color: #2929ff; }

.modifier-times-70 {
  background-color: #0505ff; }

.modifier-times-80 {
  background-color: #0000e0; }

.modifier-times-90 {
  background-color: #0000bd; }

.modifier-times-100 {
  background-color: #000099; }

.modifier-divide-10 {
  background-color: #dbffff; }

.modifier-divide-20 {
  background-color: #b8ffff; }

.modifier-divide-30 {
  background-color: #94ffff; }

.modifier-divide-40 {
  background-color: #70ffff; }

.modifier-divide-50 {
  background-color: #4dffff; }

.modifier-divide-60 {
  background-color: #29ffff; }

.modifier-divide-70 {
  background-color: #05ffff; }

.modifier-divide-80 {
  background-color: #00e0e0; }

.modifier-divide-90 {
  background-color: #00bdbd; }

.modifier-divide-100 {
  background-color: #009999; }

.modifier-equals-10 {
  background-color: #f5f5f5; }

.modifier-equals-20 {
  background-color: #ebebeb; }

.modifier-equals-30 {
  background-color: #e0e0e0; }

.modifier-equals-40 {
  background-color: #d6d6d6; }

.modifier-equals-50 {
  background-color: #cccccc; }

.modifier-equals-60 {
  background-color: #c2c2c2; }

.modifier-equals-70 {
  background-color: #b8b8b8; }

.modifier-equals-80 {
  background-color: #adadad; }

.modifier-equals-90 {
  background-color: #a3a3a3; }

.modifier-equals-100 {
  background-color: #999999; }

tr.no-rule th a {
  color: #cc0000; }
