.modifiers-table thead th,
.modifiers-table td {
  text-align: center; }

.modifier-plus-1 {
  background-color: #99ff99; }

.modifier-plus-2 {
  background-color: #66ff66; }

.modifier-plus-3 {
  background-color: #33ff33; }

.modifier-plus-4 {
  background-color: lime; }

.modifier-plus-5 {
  background-color: #00cc00; }

.modifier-minus-1 {
  background-color: #ff9999; }

.modifier-minus-2 {
  background-color: #ff6666; }

.modifier-minus-3 {
  background-color: #ff3333; }

.modifier-minus-4 {
  background-color: red; }

.modifier-minus-5 {
  background-color: #cc0000; }

.modifier-times-1 {
  background-color: #6666ff; }

.modifier-times-2 {
  background-color: #3333ff; }

.modifier-times-3 {
  background-color: blue; }

.modifier-times-4 {
  background-color: #0000cc; }

.modifier-times-5 {
  background-color: #000099; }

.modifier-divide-1 {
  background-color: #66ffff; }

.modifier-divide-2 {
  background-color: #33ffff; }

.modifier-divide-3 {
  background-color: aqua; }

.modifier-divide-4 {
  background-color: #00cccc; }

.modifier-divide-5 {
  background-color: #009999; }

.modifier-equals-1 {
  background-color: white; }

.modifier-equals-2 {
  background-color: #e6e6e6; }

.modifier-equals-3 {
  background-color: #cccccc; }

.modifier-equals-4 {
  background-color: #b3b3b3; }

.modifier-equals-5 {
  background-color: #999999; }

tr.no-rule th a {
  color: #cc0000; }
